@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600&display=swap");

body{
  font-family: "Source ";
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  background-image: url("imagee.jpg");
}
.container{
  width: 100%;
  margin: 1em auto;
  background-color: darkslategray;

}
.grid{
  display: grid;
  margin-left: 5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap:0.2em;
  justify-content: center;
}
h2{
  background-color: antiquewhite;
}